@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <div>
        <form class="container form-floating">
            <div class="row mb-3">
                <div class="col input-group">
                    <input type="text" name="personName" value="" placeholder="Введите имя" class="form-control"/>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <input type="email" placeholder="Введите email" class="form-control" />
                </div>
               
            </div>
            
            <div class="row mb-3">
                <div class="col">
                    <textarea placeholder="Оставьте отзыв" class="form-control"></textarea>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                   <button type="submit" class="btn btn-dark">Отправить</button>
                </div>
            </div>
           
        </form>
    </div>
   
</div>
